/*resets*/
/*div,*/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    /*vertical-align: baseline;*/
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #009999;
}

a:hover{
	color: #66C2C2;
}

header{
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline;
	height: 20px;
}

h2{
	font: 35px arial, sans-serif;
	text-align: center;
}

.layout {
	background-color: #ededed;
	width: 1024;
	/* center div block */
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*margin: 5px;*/
}

.menu-item {
	display: block;
	float: left;
	width: 25%;
	height: 20px;
	text-align: center;
}

img.img {
	width: 100;
	height: 100;
	padding: 10px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.topic-header{
    margin-bottom: 10px;
    margin-top: 10px;
    /*border-bottom: solid;*/
    text-align: center;
}

.topic-header::after{
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 140px;
}

.topic-header::before{
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 140px;
}