.hidden {
	visibility : hidden;
}

#loading {
	display: none;
	position: absolute;
	left: calc(50% - 16px); /* 16 - half of img size */
	top: calc(50% - 16px);
}

#show-full {
	display: none;
}

.loggedin {
	display: block;
}

#show-full {
	text-align: center;
}

#list a.url, #show-full h2 {
	text-transform: capitalize;
}

#list i {
	font-weight: bold;
}

.active-item {
	background-color: rgba(0, 255,0, 0.3);
}